---
import AddOnCard from "@ui/AddOnCard.astro";
import games from "@icons/games.svg";
import floaties from "@icons/floaties.svg";
import brunch from "@icons/brunch.svg";
import coconut from "@icons/coconut.svg";
import flowers from "@icons/flowers.svg";
---

<!-- Animated Divider (if you'd like it animated) -->
<div
  class="bg-[url(../assets/images/cabana-sunset-back-closeup.jpg)] imageDivider mt-0 bg-right "
>
</div>

<section
  id="addons"
  aria-labelledby="addons-heading"
  class="bg-linenWhite py-20 opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once md:intersect-half animate-delay-[200ms] transition-opacity duration-500"
>
  <div>
    <h2 class="text-center font-bold mb-10">Want more magic? We got ya!</h2>

    <ul class="grid gap-5 justify-center">
      <li
        class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[300ms] transition-opacity duration-500"
      >
        <AddOnCard
          icon={games}
          alt="Game icon"
          name="Beach games (Cornhole, Spike Ball, Paddleball)"
          price="$25 EACH"
        />
      </li>
      <li
        class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[400ms] transition-opacity duration-500"
      >
        <AddOnCard
          icon={floaties}
          alt="Floatie icon"
          name="Inflatable floaties"
          price="$25"
        />
      </li>
      <li
        class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[500ms] transition-opacity duration-500"
      >
        <AddOnCard
          icon={brunch}
          alt="Brunch icon"
          name="Brunch box / charcuterie board"
          price="$50–$75"
        />
      </li>
      <li
        class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[600ms] transition-opacity duration-500"
      >
        <AddOnCard
          icon={coconut}
          alt="Coconut icon"
          name="Coconut water delivery (fresh cracked) cheers"
          price="$20 EACH"
        />
      </li>
      <li
        class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[700ms] transition-opacity duration-500"
      >
        <AddOnCard
          icon={flowers}
          alt="Flower icon"
          name="Flower arrangement / sign for celebrations"
          price="$25 - TBD"
        />
      </li>
    </ul>
  </div>
</section>
