---
import { Image } from "astro:assets";
import LineDivider from "@ui/LineDivider.astro";

export interface Props {
  imageSrc: ImageMetadata;
  imageAlt: string;
  title: string;
  shadeType: string;
  perfectFor: string;
  price: string;
  color?: string; // optional custom underline color
}

const { imageSrc, imageAlt, title, shadeType, perfectFor, price } = Astro.props;
---

<article
  class="bg-softSand rounded-3xl shadow-card overflow-hidden p-8 space-y-5"
>
  <Image
    src={imageSrc}
    alt={imageAlt}
    class="w-full rounded-2xl aspect-[4/3] object-cover"
  />
  <div class="pt-4 grid gap-5">
    <h3
      class="text-center font-heading normal-case text-[2.5em]/1.5 text-deepNavy {borderColor}"
    >
      {title}
    </h3>
    <LineDivider  className="my-6 fill-amber-500" />
    <dl class="space-y-5">
      <div>
        <dt
          class="text-sm font-accent font-bold text-deepNavy uppercase tracking-wider"
        >
          Shade Type
        </dt>
        <dd class="text-coconutShell text-lg">{shadeType}</dd>
      </div>
      <div>
        <dt
          class="text-sm font-accent font-bold text-deepNavy uppercase tracking-wider"
        >
          Perfect For
        </dt>
        <dd class="text-coconutShell text-lg">{perfectFor}</dd>
      </div>
      <div>
        <dt
          class="text-sm font-accent font-bold text-deepNavy uppercase tracking-wider"
        >
          Price
        </dt>
        <dd class="text-lg text-deepNavy font-semibold">{price}</dd>
      </div>
    </dl>
  </div>
</article>
